whisper/
v3_model/
model_v3/
image_models/
persian_model_female/
*.bin
*.pt
*.pth

saved_voices/
saved_images/
robot_memory/
class_documents/
student_classes.json/
student_database/

__pycache__/
*.pyc/
*.wav/
test_audio.wav/

venv/
.env/